.covermain {
    width:100%;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.bottomcontrols {
    margin-top: 0;
    width: 100%;
    bottom: 0;
    position: absolute;
}

@media (min-width: 767px) and (orientation: portrait) {
    .covermain {
        width: 75%;
        height: 75%;
    }
    .bottomcontrols {
        bottom: 10%;
    }
}

@media (orientation: landscape) {
    .covermain {
        width: 40%;
        height: 40%;
    }

    .bottomcontrols {
        bottom: 10%;
    }
}

ol.playlist {
    display: none;
}

ol.playlist.active {
    display: block;
}

.dropdown-menu {
    display: block;
    position: relative;
    top: auto;
    left: auto;
    float: none;
    z-index: auto;
}

.progress { border-radius: 0; }
.progress.duration { background: rgba(0, 0, 0, 0); }
.progress.duration .progress-title {
                                     overflow: hidden;
                                     white-space: nowrap; }

.player button.pause { display: none; }

.player.stopped button.play,
.player.paused button.play,
.player.playing button.pause { display: inline; }

.player.playing button.play,
.player.paused button.pause,
.player.stopped button.pause { display: none; }

.player.synced button.sync { display: inline; }
.player.unsynced button.unsync { display: none; }

.player.unsynced span.synced-icon { display: none; }

/* faster sliding speed */
.carousel-item {
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.carousel-indicators .active {
    background-color: #007AFF;
}

button {
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    appearance: none;
    -moz-appearance: none;
}