a {
    text-decoration: none !important;
}
.search {
    display: none;
}

.item-input-wrap {
    border-bottom: 1px solid white;
    height: 10%;
}

.search.active {
    display: block;
}

.inputsearch {
    color: white;
}

.inputsearch::placeholder {
    color: white;
}

.ios .theme-dark .navbar {
    background: transparent;
}

.ios .theme-dark .navbar:after .navbar.ios.theme-dark:after {
    background-color: transparent !important;
}

.ios .navbar .title {
    opacity: 0.5;
    color: white;
}

.track-wrapper {
    width: 100%;
    display: flex;
}

/*.ios .navbar {
    max-width: 0;
    padding: 0;
}*/

.nav-player-name {
    display: flex;
    position: absolute;
    top: -1.8%;
    right: 8%;
    white-space: nowrap;
}

div.navbar-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1b1b1b;
}

.covermain {
    width: 50%;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 9% auto;
    -webkit-transition: width 1s; /* Safari */
    transition: width 1s;
}

.covermain_active {
    width: 55%;
}

.bottomcontrols {
    margin-top: 0;
    width: 100%;
    bottom: 0;
    position: absolute;
}

button.btn {
    width: auto;
    padding: 0;
}

.item-art {
    width: 20%;
}

.volume-row {
    margin-top: 1%;
    margin-bottom: 5%;
}

.volume .progress {
    height: 1px;
    margin-top: auto;
    margin-bottom: auto;
    opacity: 0.8;
}

.volume-height {
    height: 1px;
    margin-top: auto;
    margin-bottom: auto;
    opacity: 0.8;
}

.popup-mv {
    background-color: black;
    overflow: auto;
}

.icon {
    opacity: 0.7;
}

.w-100-land {

}

/* Tablet Portrait */
@media (min-width: 767px) and (orientation: portrait) {
    .bottomcontrols {
        bottom: 10%;
    }

    .nav-player-name {
        top: -4.5%;
        right: 4%;
    }

    div.modal-body {
        width: 70%;
        margin: auto;
    }

    .volume .progress {
        height: 2px;
    }

    .volume-height {
        height: 2px;
    }

    .popup-mv {
        background-color: transparent;
    }
}

/* Tablet Landscape */
@media (orientation: landscape) {
    .covermain {
        width: 35%;
        height: 35%;
        margin: auto;
    }

    .covermain_active {
        width: 40%;
    }

    .bottomcontrols {
        bottom: 10%;
    }

    .volume-row {
        margin-top: 1%;
        margin-bottom: 4%;
    }

    .nav-player-name {
        top: -10%;
        right: 3%;
    }

    div.modal-body {
        width: 60%;
        margin: auto;
    }

    .item-art {
        width: 15%;
    }

    .volume .progress {
        height: 2px;
    }

    .volume-height {
        height: 2px;
    }

    .popup-mv {
        background-color: transparent;
    }
}

@media (orientation: landscape) and (min-width: 813px) {
    .w-100-land {
        width: 100%;
    }
}

@media (orientation: landscape) and (max-width: 812px) {
    .covermain {
        width: 0%;
    }

    .nav-player-name {
        top: -44%;
    }

    .panel.panel-left.panel-cover {
        padding-left: 20px;
    }

    .side-padding {
        padding-left: 20px;
    }

    div.modal-body {
        width: 100%;
    }
}

/* Phone Landscape */
@media (max-width: 766px) and (orientation: landscape) {
    .covermain {
        width: 10%;
        height: 10%;
        margin: auto;
    }

    .bottomcontrols {
        bottom: 4%;
    }

    .volume-row {
        margin-bottom: 2%;
    }

    .nav-player-name {
        position: absolute;
        top: -17.5%;
        right: 5%;
        display: flex;
    }

    div.modal-body {
        width: 100%;
        margin: auto;
    }

    .item-art {
        width: 20%;
    }

    .popup-mv {
        background-color: black;
    }

    .panel.panel-left.panel-cover {
        padding-left: 0;
    }
}

/* iPhone 5 portrait */
@media (max-width: 320px) and (orientation: portrait) {
    button.btn {
        width: 21%;
    }

    .item-art {
        width: 15%;
    }
}

/* iPhone 5 landscape */
@media (max-width: 568px) and (orientation: landscape) {
    .covermain {
        width: 0%;
    }

    .nav-player-name {
        top: -25.5%;
    }
}

/* iPhone X portrait */
@media (orientation: portrait) and (max-width: 375px) and (min-width: 374px) and (min-height: 800px) {
    .page-content {
        margin-top: 25px;
        height: calc(100% - 25px);
    }

    .navbar {
        margin-top: 25px;
    }

    .controls.block.bottomcontrols {
        margin: 80px 0;
    }

    .panel.panel-left.panel-cover {
        margin-top: 25px;
    }
}

ol.playlist {
    display: none;
}

ol.playlist.active {
    display: block;
}

.dropdown-menu {
    display: block;
    position: relative;
    top: auto;
    left: auto;
    float: none;
    z-index: auto;
}

.progress {
    border-radius: 0;
}

.progress.duration {
    background: rgba(0, 0, 0, 0);
}

.progress.duration .progress-title {
    overflow: hidden;
    white-space: nowrap;
}

.player button.pause {
    display: none;
}

.player.stopped button.play,
.player.paused button.play,
.player.playing button.pause {
    display: inline;
}

.player.playing button.play,
.player.paused button.pause,
.player.stopped button.pause {
    display: none;
}

.player.synced button.sync {
    display: inline;
}

.player.unsynced button.unsync {
    display: none;
}

.player.unsynced span.synced-icon {
    display: none;
}

/* faster sliding speed */
.carousel-item {
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.carousel-indicators li {
    background-color: white;
    height: 10px;
    width: 10px;
    border-radius: 10px;
}

.carousel-indicators .active {
    background-color: #007AFF;
}

button {
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    appearance: none;
    -moz-appearance: none;
}

.progress {
    background-color: white;
}

.op-menu {
    opacity: 0.7;
}

.op {
    opacity: 0.5;
}

/* external range slider css cause framework7 slider doesn't work
   Source: https://codepen.io/seanstopnik/pen/CeLqA */

.range-slider {
    margin: 60px 0 0 0%;
}

.range-slider {
    width: 100%;
}

.range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf88;
    outline: none;
    padding: 0;
    margin: 0;
}

.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffffcc;
    cursor: pointer;
    -webkit-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb:hover {
    background: #ffffffcc;
}

.range-slider__range:active::-webkit-slider-thumb {
    background: #ffffffcc;
}

.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #ffffffcc;
    cursor: pointer;
    -webkit-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}

.range-slider__range::-moz-range-thumb:hover {
    background: #ffffffcc;
}

.range-slider__range:active::-moz-range-thumb {
    background: #ffffffcc;
}

.range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left: 8px;
}

.range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: "";
}

::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}

/* Marquee css http://html5marquee.com/ */
.marquee {
    overflow: hidden;
}

.marquee.marquee-speed-drowsy:before {
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
}

.marquee.marquee-speed-slow:before {
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
}

.marquee.marquee-speed-custom:before {
    -webkit-animation-duration: inherit;
    animation-duration: inherit;
}

.marquee.marquee-speed-normal:before {
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
}

.marquee.marquee-speed-fast:before {
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
}

.marquee.marquee-speed-swift:before {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
}

.marquee.marquee-speed-hyper:before {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes movement-smooth {
    from {
        -webkit-transform: translateX(-0%);
        transform: translateX(-0%);
        left: 5%;
    }
    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        left: 95%;
    }
}

@keyframes movement-smooth {
    from {
        -webkit-transform: translateX(-0%);
        transform: translateX(-0%);
        left: 5%;
    }
    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        left: 95%;
    }
}

@-webkit-keyframes movement-steps20 {
    0% {
        -webkit-transform: translateX(25%);
        transform: translateX(25%);
        left: 75%;
    }
    5%,
    9.99% {
        -webkit-transform: translateX(25%);
        transform: translateX(25%);
        left: 75%;
    }
    10%,
    14.99% {
        -webkit-transform: translateX(20%);
        transform: translateX(20%);
        left: 70%;
    }
    15%,
    19.99% {
        -webkit-transform: translateX(-15%);
        transform: translateX(-15%);
        left: 70%;
    }
    20%,
    24.99% {
        -webkit-transform: translateX(-20%);
        transform: translateX(-20%);
        left: 65%;
    }
    25%,
    29.99% {
        -webkit-transform: translateX(-25%);
        transform: translateX(-25%);
        left: 65%;
    }
    30%,
    34.99% {
        -webkit-transform: translateX(-30%);
        transform: translateX(-30%);
        left: 60%;
    }
    35%,
    39.99% {
        -webkit-transform: translateX(-35%);
        transform: translateX(-35%);
        left: 60%;
    }
    40%,
    44.99% {
        -webkit-transform: translateX(-40%);
        transform: translateX(-40%);
        left: 55%;
    }
    45%,
    49.99% {
        -webkit-transform: translateX(-45%);
        transform: translateX(-45%);
        left: 55%;
    }
    50%,
    54.99% {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        left: 50%;
    }
    55%,
    59.99% {
        -webkit-transform: translateX(-55%);
        transform: translateX(-55%);
        left: 50%;
    }
    60%,
    64.99% {
        -webkit-transform: translateX(-60%);
        transform: translateX(-60%);
        left: 45%;
    }
    65%,
    69.99% {
        -webkit-transform: translateX(-65%);
        transform: translateX(-65%);
        left: 45%;
    }
    70%,
    74.99% {
        -webkit-transform: translateX(-70%);
        transform: translateX(-70%);
        left: 40%;
    }
    75%,
    79.99% {
        -webkit-transform: translateX(-75%);
        transform: translateX(-75%);
        left: 40%;
    }
    80%,
    84.99% {
        -webkit-transform: translateX(-80%);
        transform: translateX(-80%);
        left: 40%;
    }
    85%,
    89.99% {
        -webkit-transform: translateX(-85%);
        transform: translateX(-85%);
        left: 35%;
    }
    90%,
    94.99% {
        -webkit-transform: translateX(-90%);
        transform: translateX(-90%);
        left: 35%;
    }
    95%,
    99.99% {
        -webkit-transform: translateX(-95%);
        transform: translateX(-95%);
        left: 30%;
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        left: 25%;
    }
}

@keyframes movement-steps20 {
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        left: 100%;
    }
    5%,
    9.99% {
        -webkit-transform: translateX(-5%);
        transform: translateX(-5%);
        left: 95%;
    }
    10%,
    14.99% {
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
        left: 90%;
    }
    15%,
    19.99% {
        -webkit-transform: translateX(-15%);
        transform: translateX(-15%);
        left: 85%;
    }
    20%,
    24.99% {
        -webkit-transform: translateX(-20%);
        transform: translateX(-20%);
        left: 80%;
    }
    25%,
    29.99% {
        -webkit-transform: translateX(-25%);
        transform: translateX(-25%);
        left: 75%;
    }
    30%,
    34.99% {
        -webkit-transform: translateX(-30%);
        transform: translateX(-30%);
        left: 70%;
    }
    35%,
    39.99% {
        -webkit-transform: translateX(-35%);
        transform: translateX(-35%);
        left: 65%;
    }
    40%,
    44.99% {
        -webkit-transform: translateX(-40%);
        transform: translateX(-40%);
        left: 60%;
    }
    45%,
    49.99% {
        -webkit-transform: translateX(-45%);
        transform: translateX(-45%);
        left: 55%;
    }
    50%,
    54.99% {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        left: 50%;
    }
    55%,
    59.99% {
        -webkit-transform: translateX(-55%);
        transform: translateX(-55%);
        left: 45%;
    }
    60%,
    64.99% {
        -webkit-transform: translateX(-60%);
        transform: translateX(-60%);
        left: 40%;
    }
    65%,
    69.99% {
        -webkit-transform: translateX(-65%);
        transform: translateX(-65%);
        left: 35%;
    }
    70%,
    74.99% {
        -webkit-transform: translateX(-70%);
        transform: translateX(-70%);
        left: 30%;
    }
    75%,
    79.99% {
        -webkit-transform: translateX(-75%);
        transform: translateX(-75%);
        left: 25%;
    }
    80%,
    84.99% {
        -webkit-transform: translateX(-80%);
        transform: translateX(-80%);
        left: 20%;
    }
    85%,
    89.99% {
        -webkit-transform: translateX(-85%);
        transform: translateX(-85%);
        left: 15%;
    }
    90%,
    94.99% {
        -webkit-transform: translateX(-90%);
        transform: translateX(-90%);
        left: 10%;
    }
    95%,
    99.99% {
        -webkit-transform: translateX(-95%);
        transform: translateX(-95%);
        left: 5%;
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        left: 0%;
    }
}

@-webkit-keyframes movement-steps10 {
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        left: 100%;
    }
    10%,
    19.99% {
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
        left: 90%;
    }
    20%,
    29.99% {
        -webkit-transform: translateX(-20%);
        transform: translateX(-20%);
        left: 80%;
    }
    30%,
    39.99% {
        -webkit-transform: translateX(-30%);
        transform: translateX(-30%);
        left: 70%;
    }
    40%,
    49.99% {
        -webkit-transform: translateX(-40%);
        transform: translateX(-40%);
        left: 60%;
    }
    50%,
    59.99% {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        left: 50%;
    }
    60%,
    69.99% {
        -webkit-transform: translateX(-60%);
        transform: translateX(-60%);
        left: 40%;
    }
    70%,
    79.99% {
        -webkit-transform: translateX(-70%);
        transform: translateX(-70%);
        left: 30%;
    }
    80%,
    89.99% {
        -webkit-transform: translateX(-80%);
        transform: translateX(-80%);
        left: 20%;
    }
    90%,
    99.99% {
        -webkit-transform: translateX(-90%);
        transform: translateX(-90%);
        left: 10%;
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        left: 0%;
    }
}

@keyframes movement-steps10 {
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        left: 100%;
    }
    10%,
    19.99% {
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
        left: 90%;
    }
    20%,
    29.99% {
        -webkit-transform: translateX(-20%);
        transform: translateX(-20%);
        left: 80%;
    }
    30%,
    39.99% {
        -webkit-transform: translateX(-30%);
        transform: translateX(-30%);
        left: 70%;
    }
    40%,
    49.99% {
        -webkit-transform: translateX(-40%);
        transform: translateX(-40%);
        left: 60%;
    }
    50%,
    59.99% {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        left: 50%;
    }
    60%,
    69.99% {
        -webkit-transform: translateX(-60%);
        transform: translateX(-60%);
        left: 40%;
    }
    70%,
    79.99% {
        -webkit-transform: translateX(-70%);
        transform: translateX(-70%);
        left: 30%;
    }
    80%,
    89.99% {
        -webkit-transform: translateX(-80%);
        transform: translateX(-80%);
        left: 20%;
    }
    90%,
    99.99% {
        -webkit-transform: translateX(-90%);
        transform: translateX(-90%);
        left: 10%;
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        left: 0%;
    }
}

@-webkit-keyframes movement-steps5 {
    0%,
    19.99% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        left: 100%;
    }
    20%,
    39.99% {
        -webkit-transform: translateX(-20%);
        transform: translateX(-20%);
        left: 80%;
    }
    40%,
    59.99% {
        -webkit-transform: translateX(-40%);
        transform: translateX(-40%);
        left: 60%;
    }
    60%,
    79.99% {
        -webkit-transform: translateX(-60%);
        transform: translateX(-60%);
        left: 40%;
    }
    80%,
    99.99% {
        -webkit-transform: translateX(-80%);
        transform: translateX(-80%);
        left: 20%;
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        left: 0%;
    }
}

@keyframes movement-steps5 {
    0%,
    19.99% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        left: 100%;
    }
    20%,
    39.99% {
        -webkit-transform: translateX(-20%);
        transform: translateX(-20%);
        left: 80%;
    }
    40%,
    59.99% {
        -webkit-transform: translateX(-40%);
        transform: translateX(-40%);
        left: 60%;
    }
    60%,
    79.99% {
        -webkit-transform: translateX(-60%);
        transform: translateX(-60%);
        left: 40%;
    }
    80%,
    99.99% {
        -webkit-transform: translateX(-80%);
        transform: translateX(-80%);
        left: 20%;
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        left: 0%;
    }
}

.marquee.marquee-movement-smooth:before {
    -webkit-animation-name: movement-smooth;
    animation-name: movement-smooth;
}

.marquee.marquee-movement-steps20:before {
    -webkit-animation-name: movement-steps20;
    animation-name: movement-steps20;
}

.marquee.marquee-movement-steps10:before {
    -webkit-animation-name: movement-steps10;
    animation-name: movement-steps10;
}

.marquee.marquee-movement-steps5:before {
    -webkit-animation-name: movement-steps5;
    animation-name: movement-steps5;
}

.marquee.marquee-direction-left:before,
.marquee.marquee-direction-normal:before {
    -webkit-animation-direction: normal;
    animation-direction: normal;
}

.marquee.marquee-direction-alternate:before {
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.marquee.marquee-direction-right:before,
.marquee.marquee-direction-reverse:before {
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.marquee:before {
    content: attr(data-marquee);
    white-space: nowrap;
    position: relative;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: inline-block;
    left: 50%;
    -webkit-animation: linear infinite;
    animation: linear infinite;
}

.marquee:before {
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
}

.marquee:before {
    -webkit-animation-name: movement-smooth;
    animation-name: movement-smooth;
}

.marquee:before {
    -webkit-animation-direction: normal;
    animation-direction: normal;
}