.ios .theme-dark .navbar {
    background: transparent;
}
.covermain {
    width:80%;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 5% auto;
}

.bottomcontrols {
    margin-top: 0;
    width: 100%;
    bottom: 0;
    position: absolute;
}

button.btn {
    width: auto;
    padding: 0;
}

.item-art {
    width: 20%;
}

.volume-row {
    margin-top: 1%;
    margin-bottom: 5%;
}

/* Tablet Portrait */
@media (min-width: 767px) and (orientation: portrait) {
    .covermain {
        width: 75%;
        height: 75%;
    }

    .bottomcontrols {
        bottom: 10%;
    }
}

/* Tablet Landscape */
@media (orientation: landscape) {
    .covermain {
        width: 40%;
        height: 40%;
    }

    .bottomcontrols {
        bottom: 10%;
    }

    .volume-row {
        margin-top: 1%;
        margin-bottom: 4%;
    }
}

/* Phone Landscape */
@media (max-width: 766px) and (orientation: landscape) {
    .covermain {
        width: 10%;
        height: 10%;
    }

    .bottomcontrols {
        bottom: 4%;
    }

    .volume-row {
        margin-bottom: 2%;
    }
}

/* iPhone 5 portrait */
@media (max-width: 320px) and (orientation: portrait) {
    button.btn {
        width: 21%;
    }

    .item-art {
        width: 15%;
    }
}

ol.playlist {
    display: none;
}

ol.playlist.active {
    display: block;
}

.dropdown-menu {
    display: block;
    position: relative;
    top: auto;
    left: auto;
    float: none;
    z-index: auto;
}

.progress { border-radius: 0; }
.progress.duration { background: rgba(0, 0, 0, 0); }
.progress.duration .progress-title {
                                     overflow: hidden;
                                     white-space: nowrap; }

.player button.pause { display: none; }

.player.stopped button.play,
.player.paused button.play,
.player.playing button.pause { display: inline; }

.player.playing button.play,
.player.paused button.pause,
.player.stopped button.pause { display: none; }

.player.synced button.sync { display: inline; }
.player.unsynced button.unsync { display: none; }

.player.unsynced span.synced-icon { display: none; }

/* faster sliding speed */
.carousel-item {
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.carousel-indicators li {
    background-color: white;
    height: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.carousel-indicators .active {
    background-color: #007AFF;
}

button {
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    appearance: none;
    -moz-appearance: none;
}

.progress {
    background-color: white;
}

.op {
    opacity: 0.5;
}

